* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  height: 100vh;
  background-image: url('./images/protest-min.jpg');
  background-size: cover;
  background-position: center;
}

.app-container:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 218, 205, 0.55);
}

.form-container,
.preview-container {
  transform: translate3d(0, 0, 0);
  transition: margin ease-in-out .6s,
              opacity ease-in-out .4s .4s,
              background ease-in-out .4s .4s,
              box-shadow ease-in-out .4s .4s;
}

.form-container {
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.is-landing .form-container {
  background: none;
  box-shadow: none;
}

.preview-container {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.is-landing .preview-container {
  visibility: hidden;
  opacity: 0;
}

.hero-box {
  background: rgba(76,76,76,0.65);
  padding: 20px;
  letter-spacing: 3px;
  word-spacing: 3px;
  padding-bottom: 50px;
  margin: 40px;
  line-height: 1.5;
}

.hero-box-landing input {
  width: 70%;
}

.fire {
  background-color: #E25822;
  border-color: white;
}

git 


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
