* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  height: 100vh;
  background-image: url('./images/protest-min.jpg');
  background-size: cover;
  background-position: center;
}

.form-container,
.preview-container {
  transition: all ease-out .4s;
}

.form-container {

}

.is-landing .form-container {
  z-index: 1;
}

.preview-container {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.is-landing .preview-container {
  opacity: 0;
}

.hero-box {
  background: rgba(76,76,76,.65);
  padding: 20px;
  letter-spacing: 3px;
  word-spacing: 3px;
  padding-bottom: 50px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
